<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="style/custom.css">
</head>
<body class="singlePage">
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-sm navbar-light p-4 px-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.png" alt="logo">
        </a>
    </div>
</nav>