<%- include('header', {page: 'Transactions'}) %>
<%- include('navbar', {page: 'Transactions'}) %>
<!-- main content -->
<div class="container-fluid w-75 ms-0" style="height: 100vh">
    <div class="row" style="height: 100%">
        <!-- main content -->
        <div class="col-lg-8 main-content">
            <h2>Transaction History</h2>
            <div class="container-fluid">
                <% transList.forEach(trans => { %>
                    <%- include('translist', {trans: trans}) %>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>